#python
*.pyc
*~
__pycache__

#Env
.env
test/
venv/

#database
db.sqlite3

#static folder at project root
/static/

#macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

#windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

#visual studio

.vscode/
.history/
*.code-workspace